<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>RouterFilter</filter-name>
        <filter-class>filter.RouterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RouterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaGenerator</servlet-name>
        <servlet-class>signin.CaptchaGenerator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>signin.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>manage.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>manage.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccount</servlet-name>
        <servlet-class>manage.ManageAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatus</servlet-name>
        <servlet-class>manage.UpdateStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>control.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControl</servlet-name>
        <servlet-class>control.DetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop</servlet-name>
        <servlet-class>category.Shop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopFilter</servlet-name>
        <servlet-class>category.ShopFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortBy</servlet-name>
        <servlet-class>category.SortBy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuperDealControl</servlet-name>
        <servlet-class>control.SuperDealControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControl</servlet-name>
        <servlet-class>control.SearchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NaviControl</servlet-name>
        <servlet-class>control.NaviControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaGenerator</servlet-name>
        <url-pattern>/CaptchaGenerator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccount</servlet-name>
        <url-pattern>/ManageAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatus</servlet-name>
        <url-pattern>/UpdateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControl</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopFilter</servlet-name>
        <url-pattern>/shopfilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortBy</servlet-name>
        <url-pattern>/sortby</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuperDealControl</servlet-name>
        <url-pattern>/superdeals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControl</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NaviControl</servlet-name>
        <url-pattern>/navi</url-pattern>
    </servlet-mapping>
</web-app>
